// дополнительные товары

.additionally {
  margin-bottom: 35px;
}

.additionally__title {
  width: 246px;
  margin: 30px auto 30px 20px;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.additionally__list {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.additionally__button {
  margin-top: 10px;
}

.additionally__promo {
  position: relative;
  width: 100%;
  height: 289px;

  background:
    url("../../img/gift.png") no-repeat center 65px,
    url("../../img/gift-photo-mobile.jpg") no-repeat center;
}

.additionally__promo-text {
  @text_width: 160px;

  position: absolute;
  width: @text_width;
  top: 176px;
  left: calc(50% - @text_width / 2);

  text-align: center;
  color: white;
}
