// преимущества

.advantages {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 20px;

  & ul {
    margin: 0;
    padding: 0;
  }
}

.advantages__title {
  margin: 0 0 30px 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
}

.advantages_item {
  position: relative;
  margin-bottom: 30px;
  padding: 0 0 0 80px;

  list-style: none;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    left: 0;
    top: -4px;

    background-color: @buttons-color;
  }
}

.advantages_item--1::after {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 29px;
  left: 17px;
  top: 12px;

  background-image: url("../../img/advantage-1.png");
}

.advantages_item--2::after {
  content: "";
  position: absolute;
  display: block;
  width: 29px;
  height: 31px;
  left: 15px;
  top: 11px;

  background-image: url("../../img/advantage-2.png");
}

.advantages_item--3::after {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 30px;
  left: 18px;
  top: 12px;

  background-image: url("../../img/advantage-3.png");
}

.advantages_item--4::after {
  content: "";
  position: absolute;
  display: block;
  width: 26px;
  height: 31px;
  left: 18px;
  top: 12px;

  background-image: url("../../img/advantage-4.png");
}
