/* стили для кнопок */

.button {
  display: block;
  padding: 10px;
  margin: 0 auto;
  text-align: center;

  text-decoration: none;
  background-color: @buttons-color;
}

.button p {
  margin: 0;
  padding: 0;

  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  text-transform: uppercase;
  color: white;
}

.button--else {
  background-color: @gray-bg;
}

.button--else p {
  color: black;
}
