// контакты

.contacts {
  width: 280px;
  margin: 0 auto;
  padding: 26px 0;
}

.contacts__title {
  display: inline-block;
  width: 140px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__text {
  float: right;
  width: 140px;
}

.contacts__text address {
  font-style: normal;
}

.contacts__address,
.contacts__city {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}
