// блок с примером

@value_width: 122px;
@caption_text_width: 60px;
@caption_text_horizontal_padding: 16px;

.example {
  width: 320px;
  padding: 20px 0 39px;
  background-color: @gray-bg;
}

.example__title {
  margin: 0 0 27px 20px;
  padding: 0;

  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 60px;
}

.example__text {
  width: 275px;
  margin: 0 auto 26px;
}

.example__inner-wrapper {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.example__value {
  position: relative;
  width: @value_width;
  margin-bottom: 35px;

  border: 1.5px solid @lines-color;
  border-radius: 3px;
}

.example__content,
.example__caption-text {
  display: block;
}

.example__content {
  text-align: center;
  margin: 12px 0 16px;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.example__caption-text {
  position: absolute;
  width: @caption_text_width;
  padding: 0 @caption_text_horizontal_padding;
  left: calc((@value_width - @caption_text_width - 2 * @caption_text_horizontal_padding) / 2);
  bottom: -15px;
  text-align: center;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 12px;

  background-color: @gray-bg;
}

.example__expenses {
  margin: -5px 0 40px 0;
  text-align: center;

  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
