// Дополнительно

.extra {
  width: 320px;
  padding: 0;

  border: none;
}

.extra__wrapper {
  width: 280px;
  margin: 0 auto;
}

.extra__title {
  position: relative;
  margin: 0 0 40px 20px;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 134px;
    height: 3px;
    left: 165px;
    top: 13px;

    background-color: @buttons-color;
  }
}

.extra__label {
  display: flex;
  position: relative;
  padding-left: 15px;
  margin: 0 0 12px 0;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  cursor: pointer;

  &::before {
    content: "";
    position: relative;
    width: 28px;
    height: 28px;
    top: -7px;
    left: -15px;

    border: 1px solid @lines-color;
  }

  &::after {
    content: "";
    display: none;
    position: absolute;
    width: 21px;
    height: 16px;
    left: 5px;
    top: 0;

    background-image: url("../../img/tick.png");
  }
}

.extra__item-wrapper {
  margin: 0 0 10px 0;
}

.extra__label--recent::after {
  display: block;
}
