// блок с картой

.map {
  position: relative;
  width: 320px;
  height: 362px;

  background-image: url("../../img/map.png");
  background-repeat: no-repeat;
  background-position: 0 -38px;
}

.map__pin-img {
  position: absolute;
  top: 139px;
  left: 134px;
}
