// блок футер

.page-footer {
  padding-bottom: 22px;

  background-color: @gray-bg;
}

.page-footer__feedback {
  padding: 39px 0 0 0;
}

.page-footer__logo {
  display: block;
  margin-bottom: 31px;
  text-align: center;
}

.page-footer__social {
  margin-bottom: 34px;
}
