// блок промо

.promo__wrapper {
  margin: 0 auto 20px;
  padding: 1px 0 20px;
  width: 280px;

  background-color: @gray-bg;
}

.promo__title {
  position: relative;
  margin: 33px 0 33px;
  padding-left: 92px;

  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;

  text-transform: uppercase;
}

.promo__title--slim {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    left: 31px;
    width: 35px;
    height: 49px;

    background-image: url("../../img/vertical_posture.png");
  }

  &::before {
    .green-ellipse;
  }
}

.promo__title--pro {
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 13px;
    width: 67px;
    height: 28px;

    background-image: url("../../img/horizontal_posture.png");
  }

  &::before {
    .green-ellipse;
  }
}

.promo__text {
  width: 225px;
  margin: 0 0 25px 20px;
}

.promo__underline {
  width: 240px;
  margin: 0 0 20px 20px;
}

.promo__link {
  position: relative;
  padding: 0 40px 0 20px;

  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;

  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.promo__link::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 11px;
  right: 0;
  top: 6px;

  background-image: url("../../img/right-arrow-long.png");
}
