/* Меню сайта */
.site-list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  padding: 23px 0;

  list-style: none;
  border-bottom: 1px solid @lines-color;
}

.site-list__item a {
  display: block;
  margin: 0 auto;
  width: 280px;
  text-align: center;

  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;

  color: black;

  text-decoration: none;
  text-transform: uppercase;
}
