// мы в соцсетях

.social {
  &::before,
  &::after {
    content: "";
    display: block;
    margin-left: 20px;
    width: 280px;
    height: 1px;

    background-color: @lines-color;
  }
}


.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: inherit;
  margin: 0;
  padding: 0;
}

.social__list-wrapper {
  display: flex;
  justify-content: space-between;
  width: 128px;
  margin: 0 auto;
  padding: 23px 0 22px 0;
}

.social__item {
  list-style: none;
  text-decoration: none;
}

.social__link {
  display: block;

  &--vk {
    width: 24px;
    height: 20px;

    background-image: url("../../img/m-vk.png");
    background-repeat: no-repeat;
    background-position: 0 4px;
  }

  &--inst {
    width: 24px;
    height: 20px;

    background-image: url("../../img/m-insta.png");
    background-repeat: no-repeat;
    background-position: 4px 2px;
  }

  &--fb {
    width: 24px;
    height: 20px;

    background: url("../../img/m-fb.png");
    background-repeat: no-repeat;
    background-position: 10px 0;
  }
}
