/* Общие стили */
body {
  width: 320px; // временно
  margin: 0 auto;

  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  font-style: normal;

  background-color: @body-bg;
  box-shadow: rgb(241, 224, 202) -5px 1px 100px,
    rgb(241, 224, 202) 5px 1px 100px; // временно
}
