/* Переменные */
@auxiliary-block-bg: rgba(243, 218, 201, 0.9); // временно
@auxiliary-subblock-bg: rgb(205, 229, 236); // временно
@auxiliary-body-bg: rgba(238, 248, 232, 0.6); // временно
@completed-block: rgba(216, 247, 213, 0.6); // временно
@body-bg: #ffffff; // основной фон
@gray-bg: #f2f2f2; // серый фон
@lines-color: #cdcdcd; // цвет линий и обводок
@buttons-color: #68b738; // цвет кнопок
@copyright-color: #666666; // копирайт
